# Build outputs
bin/
obj/
.vs/
.vscode/

# Revit local artifacts
plugins/truebim/artifacts/
plugins/truebim/artifacts-2022/
plugins/truebim/artifacts-2026/
plugins/truebim/installer/Output/
dist/
*.addin.user
*.journal
*.rvt
*.rfa
*.rte
*.slog

# Dynamo local artifacts
*.backup
*.dyn_backup

# OS/editor noise
Thumbs.db
Desktop.ini
*.user
*.suo

# Local tool downloads
tools/downloads/
